<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> QUOTES </h1>
		<form action='/quote' method='GET'>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Enter your keyword</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='keyword' name='keyword'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Category</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='category' name='category'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Author</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='author' name='author'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>First Name</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='firstname' name='firstname'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='lastname' class='col-sm-4 col-form-label'>Last Name</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='lastname' name='lastname'>
				</div>
			</div>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Gender</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='gender' name='gender' placeholder='M for Male, F for Female'>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search Quotes</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
	</div>
</div>

<%- include ('templates/footer'); -%>